{% extends 'base.html' %}


{% block content %}
<style>

.dv-img{
    height: 250px;
    width : 250px;
}

.dv-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#foreground{
    margin-top: 20px;
}

</style>
<div id="background">
<div class="container container-fluid" id="foreground">
        <div class="row">
                <div class="" style=" margin:auto;margin-top:5px;">
                    <h1><strong><strong>Albums</strong></strong></h1>
                </div>
            </div>
            <hr style="height:2px">
    <div class="row">

            {% if albums %}
            {% for album in albums %}
            <div class="shadow">
                <div class="card dv-shadow" style="margin: 10px 30px 10px 0px;">
                        <img src="{{album.image.url}}" alt="Album image" class="text-centre rounded img-thumbnail dv-img">
                        <div class="card-body">
                          <h5 class="card-title">{{album.name}}</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                          <a href="{% url 'management:album_detail' album.id %}" class="btn btn-sm btn-primary">Details</a>
                        </div>
                </div>
            </div> 
            {% endfor %}
        {% endif %}
    </div>

</div>
</div>
{% endblock %}
