{% extends 'base.html' %}



{% block content %}
<div class="container songs-container" style="margin-top:50px;">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'management:playlist_detail' playlist.id %}">
                        {% if playlist.image %}
                            <img src="{{ playlist.image.url }}" class="img-responsive img-thumbnail">
                        {% else %}
                            <h4>No image to display</h3>
                        {% endif %}
                    </a>
                    <br><br>
                    <h2 class="shadow">{{ playlist.title }} </h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">



            <ul class="nav nav-pills" style="margin: 5px;">
              <!-- <li class="nav-item">
                <a class="btn btn-outline-primary " href="#">View All</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Add New Song</a>
              </li> -->

            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in playlist.songs.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    <a target="_blank" href="{{ song.audio_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'management:add_favorite' song.id user.id playlist.id%}" class="btn-favorite"><i class=" {% if song in user.songs.all %}fas {% else %}far {%endif%} fa-star active"></i></a>
                                </td>
                                <td>
                                  <a href="{% url 'management:delete_from_playlist' song.id playlist.id%}" class="btn btn-danger" role = "button">Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
