{% extends 'base.html' %}



{% block content %}



<div class="container songs-container" style="margin-top:50px;">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'management:playlist_detail' playlist.id %}">
                        {% if playlist.image %}
                            <img src="{{ playlist.image.url }}" class="img-responsive img-thumbnail">
                        {% else %}
                            <h4>No image to display</h4>
                        {% endif %}
                    </a>
                    <br><br>
                    <h2 class="shadow">{{ playlist.title }} </h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">



            <ul class="nav nav-pills" style="margin: 5px;">
              <!-- <li class="nav-item">
                <a class="btn btn-outline-primary " href="#">View All</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="btn btn-outline-primary" href="#">Add New Song</a>
              </li> -->

            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="float: left">
                        <h3>Playlist Songs</h3>
                    </div>
                    <div>
                        <!-- <a class="btn btn-outline-primary" style="float: right;" href="#">Add New Song</a> -->

                        <!-- Button trigger modal -->
                        <button type="button" style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                          Add New Song
                        </button>

                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="list-group">
                                  <button type="button" class="list-group-item list-group-item-action active">
                                    Add new song to {{ playlist.title }}
                                  </button>

                                  {% for song in new_songs%}
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{song.song_title}}
                                    <a href="{%url 'management:add_to_playlist' song.pk playlist.pk%}" ><button type="button" class="btn btn-warning btn-sm"   onclick="this.style.color = 'green'">Add</button></a>
                                  </li>

                                  {% empty %}
                                  <h6 style="margin:10px;" >Sorry! No more songs to add!</h6>
                                  {% endfor %}

                                </div>
                              </div>

                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-primary" role = "button" href="{% url 'management:playlist_detail' playlist.id %}" >Save</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table table-dark" style="margin-top:20px;">
                      <thead>
                      <tr>
                          <th>Title</th>
                          <th>Audio File</th>
                          <th>Favorite</th>
                          <th>Actions</th>
                      </tr>
                      </thead>

                      <tbody>
                        {% for song in songs  %}
                        <tr>
                          <td>{{song.song_title}}</td>
                          <td>  {%if paid %}
                                <a target="_blank" href="{{ song.audio_file.url }}">
                                    <button type="button" class="btn btn-outline-success btn-xs">
                                        <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                    </button>
                                </a>
                                {%else%}
                                <a target="_blank" onclick='alert("Please subscribe to play")'>
                                    <button type="button" class="btn btn-outline-success btn-xs">
                                        <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                    </button>
                                </a>
                                {%endif%}
                          </td>
                          <td>
                              {%if paid%}
                                <a href="{% url 'management:add_favorite_song' song.id user.id %}" class="btn-favorite"><i class=" {% if song in user.songs.all %}fas {% else %}far {%endif%} fa-star active"></i></a>
                              {%else%}
                                <a onclick='alert("Please subscribe to add favorites")' class="btn-favorite"><i class=" {% if song in user.songs.all %}fas {% else %}far {%endif%} fa-star active"></i></a>
                              {%endif%}
                          </td>
                            <td>
                              <a href="{% url 'management:delete_from_playlist' song.id playlist.id%}" class="btn btn-danger" role = "button">Delete </a>
                            </td>
                          <td>

                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>



                </div>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript">

  a = document.getElementById('add')

  function myFunction() {
    document.getElementById("add").style.color = "green";
</script>


{% endblock %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Audio File</th>
        <th>Favorite</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for song in playlist.songs.all %}
        <tr>
            <td>{{ song.song_title }}</td>
            <td>
                <a target="_blank" href="{{ song.audio_file.url }}">
                    <button type="button" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                    </button>
                </a>
            </td>
            <td>
                <a href="{% url 'management:add_favorite' song.id user.id playlist.id%}" class="btn-favorite"><i class=" {% if song in user.songs.all %}fas {% else %}far {%endif%} fa-star active"></i></a>
            </td>
            <td>
              <a href="{% url 'management:delete_from_playlist' song.id playlist.id%}" class="btn btn-danger" role = "button">Delete </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
