{% extends 'base.html' %}


{% block content %}
<div class="container container-fluid">

    <!-- Albums -->
    <div class="row align-middle">
        <div class="" style=" margin:auto;margin-top:30px;">
            <h1><strong><strong> Playlists</strong></strong></h1>
        </div>
    </div>
    <hr style="height:2px;color: #f29843;border: black">
    <div class="row">
        
        {% if playlists %}
            {% for playlist in playlists %}
                <div class="" style = "margin-left:0px;">
                    <div class="thumbnail">
                            <div class="shadow">
                                <div class="card dv-shadow" style="margin: 10px 30px 10px 0px;">
                                        <img src="{{playlist.image.url}}" alt="Playlist image" class="text-centre rounded img-thumbnail dv-img">
                                        <div class="card-body">
                                          <h5 class="card-title">{{playlist.title}}</h5>
                                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->


                                          <!-- View Details -->
                                        <a href="{%url 'management:playlist_detail' playlist.id%}" class="btn btn-primary btn-sm" role="button">View Details</a>

                                        <!-- Delete Album -->
                                         <a href="{% url 'management:delete_playlist' playlist.id %}" role="button" class = "btn btn-danger btn-sm"> Delete</a>

                                        <!-- Favorite Album -->
                                        <a href="#" class="btn btn-default btn-sm btn-favorite" role="button">
                                            <span class="glyphicon glyphicon-star {% if playlist.is_favorite %}active{% endif %}"></span>
                                        </a>
                                        </div>
                                </div>
                            </div>


                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
          <a href="" role = "button" class="btn btn-danger btn-lg">Add Playlist</a>
        {% endif %}
    </div>


</div>
{% endblock %}
