<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block  title%}{% endblock %}</title>

    {% load staticfiles %}

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
      <link rel="stylesheet" href="../static/css/base.css">
      <script src="{% static 'js/main.js' %}"></script>

      {%block css_links%}{%endblock%}

      <style>
      
      .dv-a{
        color: white;
      }
      .dv-cursive{
        font-style: oblique;
      }

      .dv-img{
          height: 250px;
          width : 250px;
      }

      .dv-shadow{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      body{
        font-family: 'Poppins';
      }
      
      </style>

  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark" >
      <a class="navbar-brand dv-cursive" href="{% url 'home' %}">Beats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated%}

        <ul class="navbar-nav ml-auto">


       <!-- </ul>


        <ul class="nav justify-content-end"> -->
          <li class="nav-item" style="margin-right:1rem">
            <a class="nav-link "  role="button" style="margin-right:1rem" href="{% url 'management:all_albums'%}">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  role="button" style="margin-right:1rem" href="{% url 'management:index'%}">Playlists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" style="margin-right:1rem" href="{% url 'management:playlist_add'%}">Add Playlist</a>

          </li>

          <li class="nav-item dropdown" style="margin-right:1rem">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'management:all_songs'%}" >All songs</a>
              <a class="dropdown-item" href="{% url 'management:favorites'%}" >Favorites</a>

              <!-- <div class="dropdown-divider"></div> -->
              <!-- <a class="dropdown-item" href="#" >Friends List</a> -->
            </div>
          </li>

          <li class="nav-item dropdown" style="margin-right:1rem">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">account_circle</i>
            </a>
            <div class="dropdown-menu"  aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="{%url 'home'%}">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}" >Logout</a>
            </div>
          </li>
          {% else %}
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="form-inline">
              <a class="btn btn-outline-success"  role="button" style="margin-right:0.5rem" href="{% url 'account_login' %}">Login</a>
              <a class="btn btn-outline-success" role="button" href="{% url 'account_signup' %}">Sign up</a>
          </form>

        </ul>
        {% endif %}

      </div>
    </nav>



    {% block body_block%}
    {% endblock %}

    {% block content%}
    {% endblock %}


    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
